.card {
    background-color: #FFF;
    margin: 1em 0.5em;
    min-height: 15em;
}

.card-block {
    padding: 1em;
}

.fa {
    color: #fff;
    cursor: pointer;
}

.logo {
	float: left;
	margin-top: 32px;
	width: 230px;
}

.app-container {
    margin-top: 30px;
}