.container {
    width: 100%;
    background-color: #fff;
    padding: 43px;
}

.heading {
    padding-bottom: 34px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

span.fa-arrow-left {
    color: #fff !important;
}